.survey-modal-container {
  width: 100vw;
  height: 100vh;
  background-color: rgba(116, 104, 226, 0.7);
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
}

.teacher-survey-button,
.student-survey-button {
  transition: all .3s;
}

.teacher-survey-button:hover,
.student-survey-button:hover {
  cursor: pointer;
  transform: scale(1.15);
  box-shadow: 0px 0px 8px rgb(0 0 0 / 25%);
}

.survey-modal {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  top: 0;
}

.modal-content {
  margin-top: 12rem;
  text-align: center;
  /* height: 400px; */
  width: 550px;
  background: linear-gradient(180deg, #FFFFFF 0%, #e5e5e5 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border-radius: 10px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.4);
}

.modal-image {
  width: 163px;
  position: absolute;
  top: -45px;
  right: 55px;
}

.close-button {
  width: 45px;
  margin-bottom: 90px;
  padding-right: 10px;
  cursor: pointer;
  transition: all .3s;
}

.close-button:hover {
  transform: scale(1.2);
}

p {
  font-family: 'Nunito', sans-serif;
  font-size: 12px;
}

.modal-title {
  width: 65%;
  font-family: 'Nunito', sans-serif;
  color: #7468e2;
}

.modal-header {
  position: relative;
  width: 100%;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #dcdaed;
}

.modal-header-img {
  display: flex;
  align-items: flex-start;
}

.modal-paragraph {
  width: 90%;
  text-align: initial;
}

.survey-buttons-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.teacher-survey-button {
  background: #7468e2;
}

.teacher-survey-button,
.student-survey-button {
  display: flex;
  flex-direction: column;
  width: 35%;
  height: 100%;
  border-radius: 5px;
}

.teacher-button-header {
  display: flex;
  justify-content: space-around;
}

.teacher-button-header img,
.student-button-header img {
  width: 20px;
}

.teacher-button-header p {
  color: white;
  width: 75%;
  text-align: initial;
  margin-left: 5px;
}

.teacher-button-header p,
.student-button-header p {
  font-family: 'Nunito', sans-serif;
  font-size: 12px;
}

.teacher-button-footer {
  display: flex;
  justify-content: center;
  width: 100%;
}

.teacher-button-footer p {
  font-family: 'Poppins';
  font-size: 12px;
  color: #f1cb57;
}

.student-survey-button {
  background: #efefef;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
}

.student-button-header {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.student-button-header p {
  text-align: initial;
  color: #766ae2;
  font-weight: 700;
  width: 75%;
  margin-left: 5px;
}

.student-button-footer p {
  color: #505050;
  font-family: 'Nunito', sans-serif;
  font-size: 12px;
  font-weight: 700;
}

.modal-footer {
  width: 100%;
  display: flex;
  justify-content: center;
}

.modal-footer p {
  font-family: 'Nunito', sans-serif;
  font-size: 12px;
  font-weight: 700;
  text-decoration: underline;
  color: #766ae2;
}

.footer-text {
  cursor: pointer;
  transition: .3s;
}

.footer-text:hover {
  transform: scale(1.2);
}

.modal-mobile-title {
  opacity: 0;
}

.teacher-button-mobile,
.student-button-mobile {
  opacity: 0;
}


@media screen and (min-width: 375px) and (max-width: 1024px) {
  .modal-content {
    width: 80%;
    height: 75%;
    margin-top: 6em;
    justify-content: normal;
  }

  .survey-buttons-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 40%;
  }

  .teacher-survey-button,
  .student-survey-button {
    width: 75%;
    height: 45%;
    box-shadow: 0px 2px 10px rgb(0 0 0 / 25%);
    justify-content: space-around;
    border: none;
  }

  .modal-footer {
    margin: 2em !important;
  }

  .modal-paragraph p {
    color: var(--gray-dark);
    font-weight: 500;
    font-size: 13px;
  }

  .modal-image {
    width: 110px;
    right: 80px;
  }

  .modal-title {
    opacity: 0;
  }

  .close-button {
    position: absolute;
    top: 0;
    right: 0;
  }

  .modal-mobile-title {
    opacity: 1;
    margin: 1em;
    width: 90%;
    text-align: start;
  }

  .modal-mobile-title p {
    font-size: 15px;
    color: var(--color-primary);
    font-weight: 600;
  }

  .teacher-button-header p,
  .student-button-header p {
    font-weight: 600;
    font-size: 14px;
  }

  .teacher-button-header p {
    width: 60%;
  }

  .student-button-header p {
    width: 70%;
  }

  .teacher-button-footer,
  .student-button-footer {
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }

  .teacher-button-footer img,
  .student-button-footer img {
    width: 10px;
    margin-left: 10px;
  }

  .teacher-button-footer img {
    filter: invert(95%) sepia(33%) saturate(1431%) hue-rotate(321deg) brightness(150%) contrast(90%);
  }
  .teacher-button-mobile,
  .student-button-mobile {
    opacity: 1;
}
}