.profile-back-container {
  margin: 2em 14.7em;
  display: flex;
  align-items: center;
  border: none;
  background: none;
  font-family: 'Nunito', sans-serif;
  font-size: 18px;
  color: #2b2b2b;
}

.profile-container {
  margin: 1em 3em;
  position: relative;
  display: flex;
  justify-content: center;
}

.professor-info-container {
  height: 100%;
  width: 25%;
  position: relative;
}

.student-nomina-container {
  width: 55%;
  height: 100%;
}

.professor-info-title {
  display: flex;
  justify-content: space-around;
  width: 25%;
  margin-left: 25px;
  align-items: center;
}

.professor-info-data {
  border: none;
  border-radius: 10px;
  margin: 2em 2em;
  display: flex;
  flex-direction: column;
  align-content: center;
  flex-wrap: wrap;
  align-items: center;
  box-shadow: 0px 0px 1.5px 0px grey;
  padding-top: 2em;
}

.disguised-input-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  margin-bottom: 1em;
  background-color: #f1f2f2;
  border-radius: 10px;
  padding: .5em;
}

.disguised-label,
.disguised-value {
  margin: 0;
  font-family: 'Poppins'
}

.disguised-value {
  color: gray;
  cursor: not-allowed;
}

.disguised-label {
  color: #e85f7b;
}

.disguised-inputs-cont {
  width: 90%;
}

.professor-info-name {
  margin: 0;
  color: #e85f7b;
  font-weight: 700;
}

.professor-info-type {
  margin: 0;
}

.professor-info-data-cont {
  margin-bottom: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.student-nomina-title {
  display: flex;
  width: 12%;
  justify-content: space-around;
}

.profile-back-container img,
.professor-profile-img,
.student-nomina-icon,
.critical-answers-title img {
  width: 30px;
}

.profile-back-container img {
  width: 40px;
}

.student-tablehead,
.student-tablebody {
  display: flex;
  padding: 0 2em;
}

.student-tablehead {
  border-bottom: 1.7px solid #80808029
}


.student-tablehead-values {
  width: 100px;
}

.student-tablebody-values {
  width: 80px;
}

.student-tablebody-values,
.student-tablehead-values {
  font-size: 14px;
  font-family: 'Nunito', sans-serif;
  color: #2b2b2b;
}

.student-tablehead-values {
  color: #e85f7b;
}

.student-tablehead-values:nth-child(1),
.student-tablebody-values:nth-child(1) {
  width: 10%;
}

.student-tablehead-values:nth-child(2),
.student-tablebody-values:nth-child(2) {
  width: 30%;
}

.student-tablehead-values:nth-child(3),
.student-tablebody-values:nth-child(3) {
  width: 20%;
}

.student-tablehead-values:nth-child(4),
.student-tablebody-values:nth-child(4) {
  width: 20%;
  display: flex;
  justify-content: center;
}

.student-tablebody-values:nth-child(4) {
  background: #fbd0d9;
  color: #e8617c;
  display: flex;
  justify-content: center;
  border-radius: 4px;
}

.student-tablehead-values:nth-child(5),
.student-tablebody-values:nth-child(5) {
  width: 15%;
  margin-left: 2em;
}

.student-nomina-table-container {
  margin-top: 2em;
  border-radius: 10px;
  border: 1.7px solid #80808029;
  max-height: 470px;
  overflow-y: auto;
  max-width: 45vw;
}

.student-nomina-table-container table th {
  position: sticky;
  top: 0;
  background: white;
  z-index: 1;
  color: #e9618d;
  font-size: 14px;
  font-weight: 400;
  padding: 1em;
}

.student-nomina-table-container table td,
.student-nomina-table-container table tr {
  border: none;
  text-align: center;
}


.student-tablebody {
  display: flex;
}

.tbody-cont {
  height: 382px;
  overflow-y: auto;
}

.professor-info-title p,
.student-nomina-title p,
.critical-answers-title p {
  font-family: 'Nunito', sans-serif;
  font-size: 15px;
  font-weight: 700;
  color: #2b2b2b;
  margin-left: 2px;
}

.critical-answers-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
}

.critical-answers-title {
  display: flex;
  width: 21%;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 20px;
  overflow-x: auto;
}

.critical-answers-units {
  display: flex;
  justify-content: space-between;
  margin-top: 7px;
}

.answer-container {
  border: 2px solid #ee879c;
  border-radius: 10px;
  width: 210px;
  height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 8px 10px;
  margin-left: 2px;
}

.answer-container-alert {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 14px;
}

.answer-alert-icon {
  width: 14px;
  border: none;
  background-color: #30bfb0;
  color: white;
  border-radius: 100%;
  height: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 10px;
}

.answer-status {
  font-family: 'Nunito', sans-serif;
  color: #30bfb0;
  font-weight: 600;
}

.answer-status-button {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}

.answer-status-button>button {
  border: none;
  background: none;
  color: #ee879c;
  width: 45%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.answer-container button img {
  filter: invert(116%) sepia(15%) saturate(6424%) hue-rotate(294deg) brightness(100%) contrast(83%);
  width: 10px;
}

.professor-info-data-img {
  width: 50px;
  border: 1px solid #e95f7b;
  border-radius: 100%;
}



.critical-answers-container {
  overflow: hidden;
  position: relative;
}

.answer-unit {
  flex: 0 0 auto;
  opacity: 0.5;
  transition: opacity 0.3s;
}

.answer-unit.active {
  opacity: 1;
}

.carousel-indicators {
  display: flex;
  justify-content: center;
  padding-top: 10px;
}

.indicator {
  height: 10px;
  width: 10px;
  background-color: #bbb;
  margin: 0 5px;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.6s ease;
}

.indicator.active {
  background-color: #2dba9f;
}

@media screen and (min-width: 375px) and (max-width: 1024px) {
  .profile-container {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: auto;
  }

  .profile-back-container {
    margin-left: 20px;
    height: 20px;
    font-size: 16px;
  }

  .profile-back-container img {
    width: 20px;
  }

  .professor-info-container {
    width: 100%;
    margin-top: 3em;
  }

  .professor-info-title {
    margin: 0;
  }

  .professor-info-title p {
    font-size: 16px;
  }

  .professor-info-data {
    box-shadow: none;
    margin: 0;
  }

  .professor-info-data-cont {
    display: flex;
    flex-direction: row;
    width: 65%;
    margin: auto;
    margin-bottom: 2em;
  }

  .professor-info-data-img {
    width: 70px;
    border: 1px solid #e95f7b;
    border-radius: 100%;
    margin-right: 1em;
  }

  .professor-info-name {
    font-size: 16px;
  }

  .professor-info-type {
    font-size: 14px;
    font-weight: 500;
  }

  .student-nomina-container {
    width: 100%;
    margin-top: 2em
  }

  .student-nomina-title {
    margin-left: 20px;
  }

  .disguised-label,
  .disguised-value {
    font-weight: 500;
  }

  .disguised-value {
    color: #808080;
  }

  .disguised-input-container {
    padding: 0.5em 1.5em;
  }

  .student-nomina-title p {
    font-size: 16px;
  }

  .critical-answers-container {
    justify-content: space-between;
    height: 235px;
  }

  .critical-answers-title {
    width: 50%;
  }

  .answer-container {
    width: 310px;
    height: 150px;
    border: 2px solid #e7e7e7;
  }

  .answer-paragraph {
    color: #4f4d4d;
    font-size: 14px;
  }

  .critical-answers-units {
    margin: 0;
  }

  .answer-status-button>button {
    width: 30%;
  }

  .answer-status {
    font-size: 13px;
  }

  .student-nomina-table-container {
    height: 550px;
    overflow-y: auto;
    max-width: 90vw;
    overflow-x: auto;
  }

}


