.container-boxs {
  height: auto;
}

.boxs {
  width: 258px;
  height: 290px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  padding: 10px;
  background-color: #fff;
  padding-bottom: 4px;
  box-shadow: 0px 2px 10px rgb(0 0 0 / 25%);
  border-radius: 10px;
  border: 1.7px solid transparent;
  transition: all 0.3s ease-in-out;
}

.boxs-ephemeris {
  margin-top: 20px;
}

.boxs__header {
  display: flex;
  align-items: flex-start;
  align-items: center;
}

.boxs__image {
  margin-top: 15px;
}

.header__info-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 8px;
}

.boxs-header__title {
  font-size: 14px;
}

.boxs-header__events {
  font-size: 10px;
}
