.situations-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3em 3em 0 3em;
}

.situations {
  border: 1px solid #e1e1e1;
  border-radius: 20px;
  padding: 20px;
  height: 100%;
  width: 77%;
  margin: 25px 0 25px 0;
}

.situations-cont {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

.situations-header {
  display: flex;
  height: 100%;
  width: 25%;
  justify-content: flex-start;
  align-items: center;
  border-right: 1px solid #e1e1e1;
}

.situations-image {
  width: 60px;
  background-color: #2dba9f;
  border-radius: 10px;
  padding: 10px;
  margin-right: 15px;
}

.situations-header-text p {
  font-family: 'Poppins';
  font-size: 18px;
  font-weight: bold;
  color: #2dba9f;
}

.situations-description {
  display: flex;
  height: 90%;
  margin-top: 1.5em;
}

.situations-description-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 70%;
  justify-content: space-around;
}

.book-icon {
  height: 30px;
  width: 30px;
  margin-right: 15px;
}

.situations-info {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.situations-desc-title {
  color: #2dba9f;
  font-size: 18px;
  font-weight: bold;
}

.situations-desc-text {
  font-family: 'Poppins';
  font-size: 15px;
  color: #535353;
  height: 100%;
  margin-top: 8px;
}

.situations-search {
  display: flex;
  width: 76%;
  margin: 3em 0;
}

.search-container {
  display: flex;
  width: 50%;
  align-items: center;
}

.search-info {
  align-items: center;
  display: flex;
  width: 25%;
}

.search-info-icon {
  margin-right: 15px;
}

.search-info p {
  font-family: 'Poppins';
  font-size: 16px;
  color: #535353;
  font-weight: bold;
  margin: 2px;
}

.search-input {
  width: 50%;
  border: 1px solid #e1e1e1;
  border-radius: 20px;
  display: flex;
  align-items: center;
}

.search-input input {
  width: 88%;
  border-radius: 20px;
  background: white;
  border: none;
}

.search-input img {
  width: 25px;
  filter: invert(62%) sepia(32%) saturate(801%) hue-rotate(119deg) brightness(92%) contrast(95%);
}

.search-input input::placeholder {
  color: #E1E1E1;
}

.classes-container {
  display: grid;
  margin-right: 5px;
  width: 76%;
  margin-bottom: 4em;
}

.classes-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  justify-content: flex-end;
}

.situation-day {
  border: 1px solid #e1e1e1;
  border-radius: 20px;
  padding: 12px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 280px;
}

.situation-date {
  background: #2dba9f;
  width: 45%;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}

.situation-date p {
  font-size: 14px;
  color: white;
  font-weight: bold;
}

.situation-title {
  width: 65%;
}

.situation-title p {
  color: #535353;
  font-size: 16px;
  font-weight: bold;
}

.situation-desc {
  width: 95%;
}

.situation-desc p {
  font-size: 15px;
  color: #535353;
  font-weight: 200;
}

.situation-see-class {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  transition: 0.3s;
}

.situation-see-class p {
  color: #2dba9f;
  display: flex;
  width: 25%;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
  font-weight: bold;
}

.situation-see-class img {
  width: 30px;
  padding: 10px;
  filter: invert(58%) sepia(29%) saturate(920%) hue-rotate(119deg) brightness(99%) contrast(89%);
}


.situation-see-class:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.search-info img {
  width: 30px;
}

.searcher {
  margin-left: 10px !important;
}
