.public-header-container {
  width: 100%;
}

.container {
  display: flex;
  justify-content: center;
  border-bottom-style: solid;
  border-color: #808080;
  border-width: thin;
  height: 70px;
  padding: 0 3em;
}

.public-header-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 90%;
  justify-content: space-evenly;
}

.public-header-container-two {
  width: 50%;
  display: flex;
  justify-content: space-around;
}

.logo-container {
  width: 50%;
  display: flex;
  justify-content: center;
}

.logos-container {
  width: 10%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.docente-info-container {
  font-family: 'Nunito', sans-serif;
  color: #e95f7b;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.teacher-name {
  font-size: 14px;
}

.teacher-name:hover {
  cursor: pointer;
}

.sesion-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.session-info {
  color: #808080;
  font-size: 14px;
}

.session-info:hover {
  cursor: pointer;
}

.civi {
  width: 100px;
  transition: all .3s;
}

.civi:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.question-icon,
.notification-icon,
.arrow-right {
  width: 30px;
}

.menu-docente {
  width: 40px;
}

.menu-docente:hover {
  cursor: pointer;
}

.mobile-menu-container {
  opacity: 0;
  position: fixed;
  height: 70px;
  width: 100vh;
  top: 0;
  left: 0;
  z-index: 9;
  background-color: white;
  border-bottom: 1px solid grey;
}

.mobile-menu-header {
  display: flex;
  justify-content: space-around;
  padding-top: 1em;
  width: 100vw;
}

.mobile-session-info {
  display: flex;
  align-items: center;
}

.mobile-menu-burger,
.mobile-session-info img {
  filter: invert(52%) sepia(72%) saturate(2702%) hue-rotate(315deg) brightness(99%) contrast(84%);
}

.mobile-session-info p {
  color: #e95f7b;
  font-size: 12px;
}

.mobile-menu-logo {
  width: 50px;
}

.close-menu { 
  width: 30px;
  height: 30px;
  border-radius: 30px;
  background: #7468E2;
  color: white;
}

.mobile-menu-container.open {
  height: 100%;
}

.burger-menu-active {
  filter: invert(42%) sepia(53%) saturate(1175%) hue-rotate(214deg) brightness(93%) contrast(89%);
}

.option {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #808080;
}

.option:first-child {
  color: #e95f7b;
}

.mobile-menu-options {
  height: 50vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.option p {
  font-size: 16px;
  font-weight: 500;
}


@media screen and (min-width: 320px) and (max-width: 1024px) {
  .container {
    opacity: 1;
  }

  .mobile-menu-container {
    opacity: 1;
    z-index: 10;
    background-color: white !important;
  }

  .tooltip-container {
    margin-right: 0 !important;
  }
}
