.units-header-title {
    width: 10%;
    display: flex;
    flex-direction: row;
    font-family: 'Nunito', sans-serif;
    justify-content: flex-start;
    margin-top: 30px;
}

.units-header-title img {
    margin-right: 10px;
    width: 40px;
}

.units-header-title p {
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: #4d4d51;
}

.units-header-sub {
    width: 40%;
    color: #898c8c;
}

.units-header-sub>p {
    font-size: 14px;
}

.text-civi {
    color: red;
}

@media (max-width: 1024px) {
    .units-header-sub {
        width: 55%;
    }
}


@media screen and (min-width: 375px) and (max-width: 1024px) {
    .units-header-cont {
        display: flex;
        flex-direction: column;
        width: 80%;
        margin: auto;
    }

    .units-header-sub {
        width: 100%;
    }

    .units-header-sub p {
        font-size: 12px;
        font-weight: 400;
    }

    .units-components {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .unit-component-container {
        width: 90%;
        height: 200px;
    }
}