.link-container {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}

.survey-link-container {
  display: flex;
  width: 100%;
  border-radius: 10px;
  margin: 20px 0;
}

.second-container-link {
  width: 65%;
}

.first-container-link {
  width: 35%;
  display: flex;
  justify-content: space-evenly;
  font-family: 'Nunito', sans-serif;
  font-weight: bold;
  color: #FFFFFF;
}

.first-container-link p {
  font-size: 14px;
}

.first-container-link img {
  width: 40px;
}

.second-container-link {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 25px;
}

.second-container-link img {
  filter: invert(50%) sepia(25%) saturate(1638%) hue-rotate(207deg) brightness(92%) contrast(85%);
}

.survey-button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 20%;
  color: var(--color-primary);
  border-radius: 10px;
  border-style: none;
  font-family: "NunitoSans-Bold";
}

.survey-button img {
  width: 30px;
}

.second-container-link a {
  text-decoration: none;
}

.text-purple {
  color: var(--color-primary);
}

.survey-button:hover {
  cursor: pointer;
}

.background-purple {
  background-color: var(--color-primary);
}

.background-gray {
  background-color: #4d4d4d;
}

.background-red {
  background-color: #e95f7b;
}

.first-container-width {
  padding: 0.5em 1em;
}

.container-width {
  padding: 0.5em 1em;
  display: flex;
  justify-content: flex-start;
}

.first-container-width,
.container-width img {
  margin-right: 1em;
}

.text-red {
  color: #e9629b;
}

@media (max-width: 1024px) {
  .survey-link-container {
    width: 98%;
  }

  .second-container-link button {
    width: 35%;
  }
}

@media (max-width: 1300px) {
  .second-container-link button {
    width: 30%;
  }
}
