.planification-container {
  width: 100%;
  margin: 10px;
  text-align: center;
}

.file-upload {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 5px;
}

.planification-title {
  text-align: left;
  margin-bottom: 0;
  color: var(--gray-dark);
  padding-left: 6rem;
}

.planification-form__button {
  padding: 5px 40px;
  color: #FFFFFF;
  background-color: var(--color-secondary);
  border-radius: 20px;
}


.button {
  padding: 5px 40px;
  border-radius: 20px;
}

.primary {
  color: #FFFFFF;
  background-color: var(--color-secondary);
}

.delete {
  color: var(--color-secondary);
  border: 1px solid var(--color-secondary);
  background-color: #FFFFFF;
}

@media (min-width: 1024px) {
  .planification-container {
    margin: auto;
  }
}
