.planification-container {
  width: 80%;
  margin: auto;
  text-align: center;
}

.planning__oa-detail {
  margin-top: 10px;
  width: 95%;
  display: inline-block;
}

.btn-container {
  margin-top: 20px;
  text-align: right;
}

.btn-container {
  display: block;
}

.container__modal-actions {
  margin-top: 30px;
  display: flex;
  justify-content: space-around;
}

.table-section {
  position: relative;
  padding-bottom: 30px;
  border-radius: 10px;
  background-color: #fff;
}

.content__difused.planning-section {
  bottom: 5px;
  padding-bottom: 0;
}

.form-group.planning input {
  width: 70%;
  background-color: #e0e0e0;
  padding: 10px 20px;
  margin-left: 10px;
}

.planning-form {
  width: 80%;
  margin: auto;
  margin-top: 0.5rem;
  margin-bottom: 2rem;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 2px 10px;
}

.form-group.planning {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.form-group.planning>label {
  text-align: left;
  font-size: 15px;
}

.form-group.button {
  margin-top: 20px;
  text-align: right;
}

.group__container-materials {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
}

.group__container-materials>label {
  font-size: 14px;
}

.group__container-materials>input {
  margin-top: 5px;
}

.data-class {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.class-title {
  margin: 0;
  color: var(--color-primary);
}

.data-info {
  text-align: left;
}

.class-title-events {
  font-size: 25px;
  margin: 0;
  color: var(--color-secondary);
}

.icon-back-to {
  cursor: pointer;
  float: right;
}

.add-file-container {
  cursor: pointer;
  position: relative;
  display: inline-block;
}

.add-file-container::before {
  background-color: var(--color-secondary);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  content: 'Subir archivo';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.add-file-container input[type="file"] {
  opacity: 0;
  width: 200px;
  height: 32px;
  display: inline-block;
}

@media (max-width: 1024px) {
  .planification-container {
    margin: 10px;
  }
}