.planification-container {
  margin: auto;
  width: 80%;
  text-align: center;
  padding-bottom: 30px;
}

.file-upload {
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 5px;
}

.planification-title {
  padding-bottom: 20px;
  color: var(--gray-dark);
}

.button.planification-form__button {
  padding: 0px;
  color: #ffffff;
  border-radius: 20px;
  background-color: var(--color-secondary);
}

.form-group.button {
  margin-top: 20px;
  background-color: var(--color-secondary);
}

.planning__oa-detail {
  margin-top: 40px;
  width: 70%;
}

.planification-container>input {
  padding: 14px 30px;
}

.group__container-materials {
  display: flex;
  flex-direction: column;
}

.planification__files {
  padding: 20px 30px;
  margin-top: 20px;
  border-radius: 8px;
}

.planification__form {
  padding: 50px 10px;
  margin-top: 20px;
  border-radius: 10px;
  /* border: 1px solid var(--color-primary); */
  box-shadow: 0px 0px 5px rgb(0, 0, 0, 0.4);
}

.content__difused.planning-section {
  width: auto;
  right: 30%;
  top: 70%;
  bottom: initial;
  background-color: transparent;
  padding-bottom: initial;
  align-items: center;
}

.button.primary {
  color: #FFFFFF;
  padding: 5px 30px;
  background-color: var(--color-secondary);
  border-radius: 25px;
}

.button.delete {
  padding: 5px 30px;
  border-radius: 25px;
  color: var(--color-secondary);
  border: 1px solid var(--color-secondary);
  background-color: #FFFFFF;
}

.table-section {
  position: relative;
}