.planification-container.planning-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.planification-container-two {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.planification-container-two img {
  width: 40px;
}

.planification-header {
  display: flex;
  justify-content: space-around;
  width: 22%;
}

.planification-header img {
  width: 40px;
}

.planification-header p,
.planification-container-two p {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 16px;
  font-weight: 700;
  color: #4d4d51;
}

.planification-subtitle,
.alternative p {
  color:#4d4d51;
  font-size: 14px;
  text-align: initial;
  font-weight: 400;
}

.alternatives-container {
  width: 56%;
  margin-left: 20px;
}

.alternative {
  display: flex;
}

.alternative img {
  width: 40px;
  filter: invert(52%) sepia(19%) saturate(2603%) hue-rotate(307deg) brightness(97%) contrast(88%);
}

.second-container {
    width: 100%;
}

@media (max-width: 1024px) {
    .planification-header {
        width: 20%;
    }

    .planification-header p,
    .planification-container-two p {
        font-size: 14px;
    }
}

.to-begin-text {
  width: 100%;
  margin-left: -40px;
}

.one-step-custom {
  margin-left: 10px;
}
