.planification-container.planning-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 20px 30px;
}

.planification-container-two {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 40%;
}

.planification-container-two img {
  width: 40px;
}

.planification-header {
  display: flex;
  justify-content: space-around;
  width: 16%;
}

.planification-header img {
  width: 40px;
}

.planification-header p,
.planification-container-two p {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 16px;
  font-weight: 700;
  color: #4d4d51;
}

.planification-subtitle,
.alternative p {
  color: #898c8c;
  font-size: 12px;
  text-align: initial;
  margin-left: 10px;
}

.alternatives-container {
  width: 56%;
  margin-left: 20px;
}

.alternative {
  display: flex;
}

.alternative img {
  width: 40px;
}

.second-container {
    width: 100%;
}

@media (max-width: 1024px) {
    .planification-header {
        width: 20%;
    }

    .planification-header p,
    .planification-container-two p {
        font-size: 14px;
    }
}
