.planification-cont {
    display: flex;
    justify-content: space-around;
    margin: 20px;
}

.units-cont {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    margin: 20px 30px;
}

.units-components {
    display: flex;
    justify-content: space-evenly;
    width: 95%;
}

.units-components-two {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media (max-width: 1024px) {
    .units-components {
        width: 98%;
    }

    .units-cont {
        margin: 10px;
    }

    .units-components-two {
        align-items: center;
    }
}