.recover-section-cont {
    display: block;
}

.recover-mobile-section {
    display: none;
}

.recover-mobile-title {
    display: flex;
    justify-content: center;
    margin: 2em 0;
}

.recover-mobile-title p {
    font-size: 16px;
    color: var(--color-primary);
}

.recover-mobile-p {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 2em;
}

.recover-mobile-p p {
    color: var(--gray-dark);
    font-weight: 500;
    font-size: 12px;
    width: 80%;
}

.recover-mobile-form label {
    font-size: 12px;
}

.recover-mobile-form,
.recover-mobile-button {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;
}

.recover-mobile-button {
    margin-top: 2em;
}

.recover-back-button {
    display: flex;
    align-items: center;
    width: 80%;
    margin: auto;
}

.recover-back-button img {
    width: 30px;
    filter: invert(45%) sepia(46%) saturate(4027%) hue-rotate(225deg) brightness(94%) contrast(88%);
}
.recover-back-button p {
    color: var(--gray-dark);
    font-weight: 500;
}

@media screen and (min-width: 375px) and (max-width: 1024px) {
    .recover-section-cont {
        display: none;
    }

    .recover-mobile-section {
        display: block;
    }
}