.recover-mobile-section {
    display: none;
}

.recover-mobile-title {
    width: 50%;
    margin: auto;
    text-align: center;
}

.recover-mobile-title p {
    color: var(--color-primary);
    font-size: 15px;
    margin: 1.5em 0;
}

.recover-mobile-description {
    width: 85%;
    margin: auto;
    text-align: justify;
}

.recover-mobile-description p {
    color: var(--gray-dark);
    font-weight: 500;
    font-size: 14px;
    margin: 1.5em 0;
}


@media screen and (min-width: 320px) and (max-width: 1024px) {
    .recover-mobile-section {
        display: block;
    }
}