.analysis-modal-container {
  width: 100vw;
  height: 100vh;
  background-color: rgba(116, 104, 226, 0.7);
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
}

.analysis-modal {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  top: 0;
}

.analysis-modal-content {
  position: relative;
  margin-top: 8rem !important;
  text-align: center;
  height: 480px;
  width: 780px;
  background: linear-gradient(180deg, #FFFFFF 0%, #e5e5e5 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: space-around; */
  border-radius: 10px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.4);
}

.data-pie-chart-container{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 91px;
}

.square-text-graphic{
  position: relative;
  display: flex;
  flex-direction: row;
  text-align: left;
  margin-bottom: 10px;
}

.data-pie-chart-text{
  position: absolute;
  display: flex;
  flex-direction: column;
  left: -376px;
}
.data-pie-text{
  display: flex;
  align-items: center;
  font-size: 14px;
  width: 500px;
}

.data-pie-chart {
  position: absolute;
  left: 200px;
}

.analysis-modal-image {
  width: 173px;
  position: absolute;
  top: -56px;
  right: 66px;
}

.analysis-close-button {
  width: 45px;
  margin-bottom: 90px;
  margin-top: 10px;
  padding-right: 7px;
  cursor: pointer;
  transition: all .3s;
}

.analysis-close-button:hover {
  transform: scale(1.2);
}

p {
  font-family: 'Nunito', sans-serif;
  font-size: 12px;
  font-weight: 900;
}

.analysis-modal-title {
  width: 40%;
  font-family: 'Nunito', sans-serif;
  font-size: 18px;
  color: #7468e2;
  text-align: initial;
  margin-left: 5em;
  opacity: 1;
}

.analysis-modal-header {
  position: relative;
  border-radius: 9px 9px 0 0;
  width: 100%;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #dcdaed;
}

.finish-analysis-modal-header-img {
  display: flex;
  align-items: flex-start;
}

.analysis-modal-paragraph {
  width: 90%;
  text-align: initial;
  margin-top: 20px;
  margin-bottom: 20px;
}

.analysis-modal-paragraph p {
  width: 100%;
  color: #2b2b2b;
  font-weight: 500;
}

.chart-container {
  width: 60%;
  height: 200px;
  background-color: #7468e2;
}

.apexcharts-legend.apexcharts-align-center.apx-legend-position-right {
  align-items: baseline;
  justify-content: center;
}

.mobile-analysis-modal-title {
  display: none;
}

@media screen and (min-width: 375px) and (max-width: 1024px) {

  .mobile-analysis-modal-title {
    display: block;
    font-family: 'Nunito', sans-serif;
    color: #7468e2;
    text-align: initial;
    display: block;
    width: 90%;
    margin: 0;
  }

  .mobile-analysis-modal-title p {
    font-size: 18px;
    margin-top: 1em;
  }

  .analysis-modal-header {
    background-image: url('src/assets/images/mobile-analysis-modal.png');
    background-repeat: no-repeat;
    background-size: 22rem;
    background-position-x: left;
    background-position-y: bottom;
  }

  .analysis-modal-title {
    opacity: 0;
  }

  .analysis-modal-content {
    margin-top: 1em!important;
    width: 85vw;
    height: 90vh;
  }

  .data-pie-chart-container {
    width: 90%;
    height: 50%;
    margin: 0;
  }

  .data-pie-chart-text {
    top: 50%;
    left: 5%;
    color: #2b2b2b;
    font-weight: 400;
  }

  .data-pie-chart {
    top: -20px;
    left: 10%;
  }

  .analysis-modal-header {
    height: 120px;
  }

  .analysis-modal-image {
    width: 130px;
    top: -34px;
    right: 100px;
  }

  .square-text-graphic {
    margin-bottom: 5px;
  }
}