.container-two {
  width: 100%;
  display: flex;
  justify-content: center;
}

.footer-container,
.mobile-footer-container {
  background-color: #7468E5;
  width: 90%;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  height: 200px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  position: relative;
}

.footer-logo {
  width: 150px;
}

.footer-logo-container {
  display: flex;
  justify-content: flex-start;
  width: 20%;
}

.container-three {
  width: 41%;
}

.links-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: nowrap;
  align-items: center;
}

.links-container a {
  font-family: 'Nunito', sans-serif;
  color: #FFFFFF;
  font-size: 14px;
  text-decoration: none;
}

.contact-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.social-container {
  width: 20%;
  display: flex;
  align-items: flex-end;
  justify-content: space-evenly;
}

.social-icon {
  filter: brightness(5.5);
  width: 45px;
}

.last-footer-container p {
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
  color: #FFFFFF;
  font-size: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.last-footer-container {
  margin-top: 40px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 10px;
}

.mobile-footer-container {
  display: flex;
  flex-direction: column;
}

@media (max-width: 1024px) {
  .footer-container {
    width: 90%;
  }
}

.footer-links {
  transition: all .3s;
}

.footer-links:hover {
  transform: scale(1.2);
  color: white;
  text-decoration: none;
}

.mobile-footer {
  display: none;
}

@media screen and (min-width: 320px) and (max-width: 1024px) {
  .mobile-footer {
    display: block;
    width: 100vw;
  }

  .mobile-footer-container {
    margin: auto;
    height: 330px;
    padding-top: 1em;
  }

  .footer-container {
    display: none;
  }

  .last-footer-container {
    position: inherit;
    margin-top: 20px;
  }

  .links-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 70%;
    border-top: solid 1px white;
    border-bottom: solid 1px white;
    padding: 10px 0;
  }

  .footer-logo-container {
    width: 35%;
    margin-top: 15px;
  }

  .container-three {
    height: 110px;
    display: flex;
    justify-content: center;
    width: 80%;
  }

  .footer-logo {
    margin: auto;
  }

  .social-container {
    margin: 15px 0;
    width: 25%;
  }
}
