.welcome-section {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.welcome-container {
    width: 95%;
    height: 320px;
    display: flex;
    flex-direction: row;
}

.left-container {
    width: 50%;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    background-color: #fceff2;
    padding: 1.5em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.left-container h3 {
    color: #e95f7b;
}

.p-1 {
    font-size: 14px;
    color: black;
}

.p-2 {
    font-size: 14px;
    color: #ed6595;
}

.date-container,
.school-container,
.grade-container {
    display: flex;
    flex-direction: row;
    height: 30%;
    width: 90%;
    align-items: center;
    justify-content: space-around;
}

.date-container p,
.school-container p,
.grade-info {
    width: 80%;
    margin: 0;
}

.right-container {
    width: 50%;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    background-color: #e95f7b;
    padding: 1.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.right-container p {
    color: #FFFFFF;
}

.second-right-container {
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.date-container img,
.school-container img,
.grade-container img {
    width: 40px;
}

.school-container p {
    width: 100%;
}


.man-image {
    position: absolute;
    width: 320px;
    right: 40px;
    top: 82px;
    z-index: 2;
}