.welcome-section {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.welcome-container {
    width: 95%;
    height: 300px;
    display: flex;
    flex-direction: row;
}

.left-container {
    width: 50%;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    background-color: #fceff2;
    padding: 1.5em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.left-container h3 {
    font-family: 'Nunito Sans', sans-serif;
    color: #e95f7b;
}

.p-1,
.p-2 {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 16px;
}

.p-1 {
    color: black;
}

.p-2 {
    color: #ed6595;
}

.date-container,
.school-container,
.grade-container {
    display: flex;
    flex-direction: row;
    height: 30%;
    width: 90%;
    align-items: center;
    justify-content: space-around;
}

.date-container p,
.school-container p,
.grade-info {
    width: 80%;
    margin: 0;
}

.right-container {
    width: 50%;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    background-color: #e95f7b;
    padding: 1.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.right-container p {
    font-family: 'Nunito Sans', sans-serif;
    color: #FFFFFF;
}

.second-right-container {
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.date-container img,
.school-container img,
.grade-container img {
    width: 40px;
}

.school-container p {
    width: 100%;
}

.man-image {
    position: absolute;
    width: 320px;
    right: 40px;
    top: 62px;
    z-index: 2;
}

.date-container p,
.school-info,
.grade {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 17px;
    font-weight: 700;
}

.date-container p,
.school-info-container,
.grade-info {
    width: 85%;
}

@media (max-width: 1024px) {
    .welcome-container {
        height: 300px;
    }

    .right-container p {
        font-size: 14px;
    }

    .man-image {
        position: absolute;
        width: 287px;
        right: 15px;
        top: 95px;
        z-index: 2;
    }
    
    .planification-text h4 {
        font-size: 14px;
    }
    
    .button {
        font-size: 12px;
    }

    .date-container p, 
    .school-info-container, 
    .grade-info {
        margin-left: 10px
    }

    .left-container h3 {
        font-size: 14px;
    }

    .p-1,
    .p-2 {
        font-size: 12px;
    }
}