.classes {
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
  margin: 10px 0;
}

.class {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 26%;
  padding: 20px;
  margin: 5px;
  border: 1px solid #e1e1e1;
  border-radius: 10px;
}

.class-title {
  color: white;
  font-size: 15px;
  display: flex;
  justify-content: center;
  background-color: #96cb76;
  border-radius: 30px;
  padding: 5px;
  width: 50%;
  margin-bottom: 20px;
  font-family: 'Nunito-Bold';
  font-weight: 800;
}

.sub-title {
  font-size: 14px;
  margin-bottom: 12px;
  color: #4d4d4d;
  font-family: 'Nunito-Bold';
  line-height: 22px;
}

.class-text {
  font-size: 13px;
  margin-bottom: 12px;
}

.see-class-container {
  display: flex;
  justify-content: end;
}

.see-class {
  font-weight: bolder;
  font-size: 15px;
  color: #96cb76;
  width: 45%;
  height: 25px;
  border: none;
  background-color: transparent;
  transition: all .3s;
}

.see-class:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.arrow {
  fill: #96cb76;
  height: 10px;
  margin-left: 10px;
}


@media screen and (min-width: 320px) and (max-width: 1024px) {
  .classes {
    display: flex;
    flex-direction: column;
  }

  .class {
    width: 100%;
    margin: auto;
    margin-bottom: 2em;
  }

  .class-title {
    width: 35%;
  }
}
