.detail-content {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  margin-right: 25px;
  padding: 10px 80px;
  border-radius: 10px;
  margin-bottom: 2rem;
  padding-bottom: 5rem;
}

.detail-content__header {
  display: flex;
  margin-top: 15px;
  justify-content: flex-end;
  gap: 20px;
}

.main__info {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  background-color: #fff;
  border-radius: 10px;
  padding: 1px 50px;
  border: 1px solid var(--color-secondary);
  font-size: 14px;
}

.main__info > p > span {
  font-weight: bold;
  font-size: 14px;
  color: var(--color-secondary);
}

.main__table {
  position: relative;
  margin-top: 40px;
}

.info__modal-edit {
  position: absolute;
  right: 8px;
  bottom: 2px;
}
.edit-letter,
.edit-number {
  margin-bottom: 50px;
  width: 180px;
  background-color: #fff;
  padding: 7px;
}

.table-actions {
  position: absolute;
  right: 50%;
  left: 50%;
  display: flex;
  justify-content: center;
  gap: 50px;
}

.form__add-student {
  text-align: right;
  padding-top: 20px;
}

.form__add-student > input {
  font-family: 'Poppins';
  border: none;
  outline: none;
  padding: 10px 20px;
  border-radius: 10px;
  background-color: #e0e0e0;
}
