.planification-type-container {
  width: 50%;
  height: 170px;
  margin: 5px;
  display: flex;
  flex-basis: 49%;
  flex-direction: row;
  position: relative;
}

/* .planification-type {
  width: 100%; 
  border-radius: 16px;
  display: flex;
} */

.planification-image {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
}

.planification-type,
.teacher-image {
  height: 195px;
}

.planification-text {
  width: 60%;
  float: left;
}

.planification-text h4 {
  color: #ffffff;
  margin: 0;
  padding: 1.2em;
}

.teacher-image {
  width: 100%;
  height: 100%;
  border-radius: 14px;
  /* border-top-right-radius: 14px;
  border-bottom-left-radius: 14px;
  border-bottom-right-radius: 14px;
  border-top-left-radius: 14px; */
}

.button-and-text{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  z-index: 2;
}

.planification-button {
  display: flex;
  align-items: center;
  border-radius: 10px;
  height: 20%;
  width: 40%;
  border: none;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 700;
  color: #e95f7b;
  margin: 20px;
  padding: 5px;
  justify-content: space-evenly;
}

button:hover {
  cursor: pointer;
}

button.planification-button img {
  width: 30px;
}
