.planification-type-container {
  width: 50%;
  height: 225px;
  display: flex;
  justify-content: center;
  flex-basis: 49%;
}

.planification-type {
  width: 100%;
  background-color: #e95f7b;
  border-radius: 16px;
  display: flex;
  flex-direction: row;
}

.planification-type,
.teacher-image {
  height: 195px;
}

.planification-text {
  width: 56%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.planification-image {
  width: 44%;
}

.planification-text h4 {
  color: #ffffff;
  width: 90%;
  margin: 0;
  padding: 1.2em;
}

.teacher-image {
  width: 100%;
  border-top-right-radius: 14px;
  border-bottom-right-radius: 14px;
}

button.planification-button {
  display: flex;
  align-items: center;
  border-radius: 10px;
  width: 60%;
  border: none;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 700;
  color: #e95f7b;
  margin-left: 1.2em;
  justify-content: space-evenly;
}

button:hover {
  cursor: pointer;
}

button.planification-button img {
  width: 30px;
}
