.accordion-title-container {
    width: 100%;
    margin: auto;
    background: #fff;
    color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1em;
}

.accordion-title-container p {
    color: #535353;
}

.accordion-answer-container{
    background: #f2f2f2;
    padding: 2em;
}

.accordion-answer-container p {
    color: #786de2;
    font-size: 14px;
    font-weight: 500;
}

.accordion {
    width: 100%;
    color: #fff;
    border: 1px solid #ededed;
    border-radius: 5px;
    margin-bottom: 2em;
}

.accordion-heading {
    padding: 2em;
}

.accordion-heading-active {
    border: 1px solid green; /* Cambia "purple" por "green" */
  }

.accordion-heading .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.accordion-heading p {
    letter-spacing: 1.2px;
    color: #424242;
    font-weight: 500;
    font-size: 14px;
    width: 80%;
}

.accordion-heading span {
    cursor: pointer;
    width: 10%;
    font-size: 30px;
    color: var(--color-primary);
}

.accordion-content {
    background: purple;
    height: 0;
    visibility: hidden;
    display: flex;
}

.accordion-content.show {
    height: 180px;
    opacity: 1;
}

.accordion-content p {
    font-size: 15px;
    line-height: 1.6;
}

@media screen and (min-width: 320px) and (max-width: 1024px) {
    .accordion-heading {
        padding: 0;
    }
}

.highlight {
  color: red !important;
  font-size: 16px !important;
}
