.login-section {
  width: 35%;
  padding: 8% 8% 0px 8%;;
}

.login-section-header {
  display: flex;
  font: inherit;
  justify-content: center;
  /* width: 100%; */
}

.login-section-title {
  font-size: 60px;
  font-weight: bolder;
  margin: 0;
}

.logo-content{
  display: contents;
}

.logo-civi {
  width: 60%;
  /* height: 20%; */
}

.login-section-footer {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.login-section-footer a {
  text-decoration: none;
  padding-left: 15px;
}

.civi-text {
  color: var(--color-primary);
  font-weight: bold;
}

.link-recover {
  color: var(--color-primary);
}

/* Recover pass */

.recover-section-header {
  padding: 6%;
}

.recover-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.recover-form {
  width: 30%;
  margin-top: -60px;
}

.recover-container {
  display: flex;
  margin-top: 150px;
  justify-content: flex-end;
}

.return-recover {
  text-decoration: none;
  color: var(--color-primary);
}

.login-mobile-title {
  display: none;
  width: 80%;
  margin: auto;
}

.login-mobile-title p {
  text-align: center;
  color: var(--color-primary);
  font-size: 16px;
  font-weight: bold;
}

.rights-reserved {
  display: none;
  padding: 1em 0;
}

.rights-reserved p {
  color: var(--color-primary);
  font-size: 13px;
  font-weight: 500;
  text-align: center;
}

@media screen and (min-width: 375px) and (max-width: 1024px) {
  .login-section {
    width: 100%;
    padding: 5%;
  }
  
  .login-section-header {
    display: none;
  }

  .login-mobile-title {
    display: block;
  }

  .rights-reserved {
    display: block;
  }
}