.planning-form {
  width: 80%;
  margin: auto;
}

.form-group.planning input {
  padding: 15px 30px;
}

.button.planning-form__button {
  background-color: var(--color-secondary);
  color: #fff;
  padding: 5px 20px;
  border-radius: 20px;
}

.planning-form__button-section {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-top: 20px;
}

.planning-form__number {
  width: auto;
  padding: auto;
}

.w20 {
  width: 20%;
}

.w50 {
  width: 50%;
}

.w80 {
  width: 80%;
}
