/* .login-container {
  margin-top: 50px;
} */

.form-group {
  display: flex;
  flex-direction: column;
  margin-top: 12px;
}

.form-label {
  color: #7468e2;
  padding: 10px 10px;
}

.form-input {
  z-index: 99;
  border-radius: 10px !important;
  font: inherit !important;
  padding: 15px 15px !important;
  background-color: #f5f5f5 !important;
  border: 1px solid #7468e2;
  outline: none;
  transition: all 0.3s ease-in-out;
}

input[type='text'].form-input {
  border: 1px solid #7468e2;
}

/* .form-input:active {
  border: none;
  background-color: aqua !important;
} */

.form-input:hover {
  border: 1px solid #7468e2;
  background-color: #eeeeee !important;
  transition: all 0.3s ease-in-out;
}

.button {
  padding: 15px;
  margin-top: 5px;
  border-radius: 10px;
  background-color: #7468e2;
}

/* .form-input:focus {
  background-color: aqua;
} */


@media screen and (min-height: 500px) and (max-height: 625px) {
  .form-group {
    margin-top: 0;
  }
}


@media screen and (min-width: 1025px) and (max-width: 1200px) {
  .login-container {
    height: 20vh;
  }

  .login-form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 85%;
  }
}