.form-container {
  font-size: 14px;
  margin-top: 30px;
  padding-left: 50px;
}

.form-group-container {
  margin-top: 30px;
}

.input-group {
  display: flex;
  gap: 40px;
}

.input-group > input {
  color: black;
  font-size: 14px;
  font-family: 'Poppins';
  width: 100%;
  margin-top: 10px;
  background-color: #e0e0e0;
  padding: 5px 25px;
  border: none;
  outline: none;
  border-radius: 10px;
}

.form-actions {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  gap: 50px;
}
