
.login-container {
    font-weight: 600;
    margin-top: 80px;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-top: 12px;
}

.form-label {
    padding: 10px 10px;
    color: rgb(116 104 226);
}

.form-input {
    font: inherit;
    padding: 15px 15px;
    border-radius: 10px;
    background-color: white;
    border: none;
    outline: rgb(116 104 226) solid 1px;
}

.form-input:active {
    border: none;
}

.form-input-submit {
    font-size: 15px;
    border-radius: 10px;
    font: inherit;
    margin-top: 12px;
    color: white;
    font-weight: 600;
    padding: 15px 15px;
    background-color: rgb(116 104 226);
    cursor: pointer;
    outline: none;
    border: none;
}

.help-section {
    display: flex;
}