
.login-section {
    width: 35%;
    padding: 6%;
}

.login-section-header {
 font: inherit;   
}

.login-section-title {
    font-size: xxx-large;
    font-weight: bolder;
    margin: 0;
}

.login-section-footer {
    font-weight: normal;
    margin-top: 80px;
}

.login-section-footer a {
    text-decoration: none;
    padding-left: 15px;
}