.box-container {
  margin: auto;
  margin-top: 10px;
  background: #ffffff;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  border: 1px solid transparent;
  transition: border-color 0.3s ease-in-out;
  position: relative;
  height: 170px;
  padding: 1em;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.w70 {
  width: 70%;
}

.w100 {
  width: 100%;
}
