.survey-content-container {
  font-family: 'Nunito';
  width: 80%;
  margin: auto;
  margin-top: 35px;
  padding-bottom: 50px;
}

.survey-content-container.student {
  padding-bottom: 50px;
}

.survey-content__start {
  display: flex;
  gap: 50px;
}

.survey-content__start>.content-start__image {
  width: 50%;
  border-radius: 12px;
}

.content-start__header-text {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 14px;
  font-weight: bold;
  color: rgb(0, 0, 0, 0.9);
}

.content-start__text {
  font-size: 14px;
  color: rgb(0, 0, 0, 0.8);
}

.content-start__important-section {
  margin-top: 40px;
  font-size: 14px;
}

.content-start__suggestions {
  width: 450px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.important {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 14px;
  padding: 10px;
  border-radius: 12px;
  background-color: rgba(255, 0, 0, 0.076);
  color: var(--color-secondary);
}

.important.student {
  background-color: rgba(25, 0, 255, 0.076);
  color: var(--color-primary);
}

.important-text {
  font-size: 14px;
  margin-top: 40px;
  color: var(--color-secondary);
}

.important-text.student {
  color: var(--color-primary);
}

.survey-start-button {
  display: flex;
  align-items: center;
  font-size: 12px;
  font-weight: 700;
  color: #fff;
  padding: 7px 30px;
  border-radius: 25px;
  background-color: var(--color-secondary);
  border: none;
  outline: none;
}

.survey-start-button.student {
  background-color: var(--color-primary);
}

.content-start__back-link {
  display: flex;
  align-items: center;
}

.content-start__back-link>img {
  width: 30px;
}

.content-start__back-link>a {
  font-size: 14px;
  color: rgb(0, 0, 0, 0.9);
  text-decoration: none;
}

.surveys {
  margin-top: 30px;
  display: flex;
  gap: 40px;
}

.surveys__header-title {
  font-size: 14px;
  font-weight: bold;
  color: rgb(0, 0, 0, 0.8);
}

.surveys__questions-list {
  background-color: rgb(255 0 123 / 4%);
  display: flex;
  flex-direction: column;
  padding: 10px 50px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.surveys__questions-list.student {
  background-color: rgba(38, 0, 255, 0.04);
}

.question-number {
  font-size: 14px;
  margin-top: 10px;
  font-weight: 700;
  color: rgb(0, 0, 0, 0.2);
}

.question-number.active {
  color: #000;
}

.question-submitted {
  color: var(--color-secondary);
}

.surveys__question {
  margin-top: 35px;
  margin-left: 40px;
  font-size: 14px;
}

.surveys__question-alternatives {
  flex: 1;
}

.alternatives__form {
  margin-top: 50px;
  margin-left: 40px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.form__input {
  display: flex;
  align-items: center;
  border-bottom: 1px solid gray;
  padding-bottom: 12px;
}

.form__input>input[type='radio'] {
  display: none;
}

input[type='radio']+label {
  cursor: pointer;
  font-size: 14px;
}

input[type='radio']+label:before {
  content: '';
  width: 22px;
  height: 20px;
  float: left;
  margin: 1px 20px 0px 2px;
  border: 1px solid var(--color-primary);
  border-radius: 100%;
  background: #fff;
}

input[type='radio']:checked+label:after {
  content: '';
  width: 12px;
  height: 12px;
  float: left;
  margin-left: -2.3rem;
  margin-top: 5.4px;
  border-radius: 100%;
  background-color: var(--color-secondary);
}

input[type='radio'].student+label:before {
  content: '';
  width: 22px;
  height: 20px;
  float: left;
  margin: 1px 20px 0px 2px;
  border: 1px solid var(--color-primary);
  border-radius: 100%;
  background: #fff;
}

input[type='radio'].student:checked+label:after {
  content: '';
  width: 12px;
  height: 12px;
  float: left;
  margin-left: -2.3rem;
  margin-top: 5.4px;
  border-radius: 100%;
  background-color: var(--color-primary);
}

.surveys__alternatives-container {
  padding: 50px 100px 40px 40px;
}

.form__actions {
  margin-top: 60px;
  margin-left: 40px;
  display: flex;
  justify-content: space-between;
}

button.form__previous-question:disabled {
  pointer-events: none;
  opacity: 0.4;
  color: gray;
  border-color: gray;
}

.form__previous-question {
  font-size: 12px;
  font-weight: 700;
  font-family: 'Poppins';
  background-color: #fff;
  border: 1px solid var(--color-secondary);
  color: var(--color-secondary);
  padding: 7px 30px;
  border-radius: 25px;
  outline: none;
}

.form__previous-question.student {
  border: 1px solid var(--color-primary);
  color: var(--color-primary);
}

.form__next-question {
  font-size: 12px;
  font-weight: 700;
  font-family: 'Poppins';
  color: #fff;
  padding: 7px 30px;
  border-radius: 25px;
  background-color: var(--color-secondary);
  border: none;
  outline: none;
}

.form__next-question.student {
  font-size: 12px;
  font-weight: 700;
  font-family: 'Poppins';
  color: #fff;
  padding: 7px 30px;
  border-radius: 25px;
  background-color: var(--color-primary);
  border: none;
  outline: none;
}

.completed-survey-container {
  font-family: 'Nunito';
  font-size: 14px;
  text-align: center;
  padding: 135px 0px;
  margin: auto;
}

.completed-survey-container.student {
  padding-bottom: 213px;
}

.text-content__success-message {
  font-size: 14px;
  color: var(--color-secondary);
  text-align: center;
}

.text-content__success-message>span {
  display: block;
}

.text-content__success-message.student>span {
  color: var(--color-primary);
}

.text-content__paragraph {
  font-size: 14px;
  margin-top: 20px;
  color: rgb(0, 0, 0, 0.7);
}

.text-content__actions {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.actions__back-home {
  font-family: 'Nunito';
  border: none;
  outline: none;
  border-radius: 25px;
  background-color: var(--color-secondary);
  color: #fff;
  padding: 5px 30px;
}

.actions__generate-link {
  font-family: 'Nunito';
  border: none;
  outline: none;
  border-radius: 25px;
  background-color: var(--color-primary);
  color: #fff;
  padding: 5px 30px;
}

.survey-completion {
  margin-top: 60px;
  text-align: center;
}

.completion__text {
  font-size: 14px;
  color: var(--color-secondary);
  display: block;
}

.completion__actions {
  margin-top: 50px;
}

.actions__button {
  font-size: 14px;
  font-family: 'Nunito';
  border: none;
  outline: none;
  border-radius: 25px;
  background-color: var(--color-secondary);
  color: #fff;
  padding: 5px 30px;
  font-weight: 800;
}

.modal__actions-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 50px;
}

.actions__first {
  font-family: 'Nunito';
  border: none;
  outline: none;
  padding: 8px 30px;
  color: #fff;
  font-size: 14px;
  font-weight: 800;
  border-radius: 25px;
  background-color: var(--color-primary);
  opacity: 0.5;
  pointer-events: none;
}

.actions__second {
  font-family: 'Nunito';
  border: none;
  outline: none;
  padding: 8px 30px;
  color: #fff;
  font-size: 14px;
  font-weight: 800;
  border-radius: 25px;
  background-color: var(--color-primary);
}

.professor-survey {
  background-image: url('src/assets/images/texturaModal.png');
  background-repeat: no-repeat;
  background-size: 30rem;
  background-blend-mode: difference;
  background-position-x: left;
  background-position-y: bottom;
}

.content-start__left {
  width: 50%;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-start__left>.image-container {
  background-image: url('src/assets/images/professorSurvey.jpg');
  width: 536px;
  height: 350px;
  background-size: 135%;
  background-repeat: no-repeat;
  background-position: 90%;
  border-radius: 10px;
  border: none;
}

.image-container.student {
  background-image: url('src/assets/images/student-survey-img.jpeg');
}

.firststep-actions {
  width: 450px;
  margin-top: 40px;
  display: flex;
  justify-content: flex-end;

}

.firststep-actions-img {
  width: 30px;
  filter: invert(51%) sepia(21%) saturate(51%) hue-rotate(132deg) brightness(247%) contrast(90%);
}

.mobile-footer {
  display: none;
}

.professor-survey-footer {
  display: block;
}

@media screen and (min-width: 375px) and (max-width: 1024px) {
  .content-start__left {
    width: 100%;
    height: 100%;
  }

  .survey-content__start {
    display: flex;
    flex-direction: column;
  }

  .image-container {
    width: 100%;
  }

  .content-start__suggestions,
  .firststep-actions {
    width: 90vw;
  }

  .firststep-actions {
    display: flex;
    justify-content: center;
  }

  .content-start__left>.image-container {
    height: 112px;
    background-size: 110%;
    background-position: 70%;
    margin: 2em 0 0 0;
  }

  .survey-content-container {
    width: 90%;
  }

  .content-start__important-section {
    margin-top: 25px;
  }

  .content-start__important-section p,
  .content-start__text {
    font-weight: 500;
    font-size: 12px;
  }

  .content-start__text {
    margin-top: 10px;
  }

  .important-text {
    margin-top: 25px;
  }

  .mobile-footer {
    display: block;
  }

  .professor-survey-footer {
    display: none;
  }
}
