.login-section {
  width: 35%;
  padding: 6% 6% 0px 6%;
}

.login-section-header {
  font: inherit;
}

.login-section-title {
  font-size: 60px;
  font-weight: bolder;
  margin: 0;
}

.login-section-footer {
  /* font-weight: 600; */
  margin-top: 20px;
}

.login-section-footer a {
  text-decoration: none;
  padding-left: 15px;
}

.civi-text {
  color: var(--color-primary);
  font-weight: bold;
}

.link-recover {
  color: var(--color-primary);
}

/* Recover pass */

.recover-section-header {
  padding: 6%;
}

.recover-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.recover-form {
  width: 30%;
  margin-top: -60px;
}

.recover-container {
  display: flex;
  margin-top: 150px;
  justify-content: flex-end;
}

.return-recover {
  text-decoration: none;
  color: var(--color-primary);
}