.modal-input {
    width: 100%;
    margin: 15px 0;
}

.buttons-inputs {
    display: flex;
    justify-content: center;
}

.create-category {
    background-color: var(--color-secondary);
    color: white;
    transition: all .4s;
    border: 1px solid gray;
    border-radius: 5px;
    width: 100px;
    height: 39px;
    background: #e95f7b;
    color: white;
    margin: 10px;
}

.close-modal,
.create-category {
    transition: all .4s;
}

.create-category:hover,
.close-modal:hover {
    transform: scale(1.15);
}

.close-modal {
    width: 100px;
    margin: 10px;
    height: 40px;
}

.remove-topic-select {
    height: 40px;
    background: none;
    color: black;
    border: 1px solid black;
    border-radius: 8px;
    font-size: 14px;
    width: 100%;
    margin: 20px 0;
}

.buttons-container-fetch {
    display: flex;
    justify-content: space-evenly;
}

.category-button {
    transition: all .4s;
}

.category-button:hover {
    transform: scale(1.15);
}

.disabled-styles {
    background: #efefef;
    color: #e95f7b;
}
