.content {
  display: inline-flex;
  flex-direction: column;
  gap: 20px;
}

.box {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  width: auto;
  padding: 10px;
  background-color: #fff;
  padding-bottom: 4px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  border: 1.7px solid transparent;
  transition: all 0.3s ease-in-out;
}

.box__header {
  display: flex;
  align-items: center;
}

.box__image {
  transition: all 0.3s ease-in-out;
  margin-top: 15px;
}

.box__link-to {
  margin-top: 15px;
  color: #4d4d4d;
  cursor: pointer;
  font-family: 'Poppins';
  border: none;
  outline: none;
  background-color: transparent;
  text-align: right;
  transition: all 0.3s ease-in-out;
}

.box__link-to>img {
  transition: all 0.3s ease-in-out;
}

.box-link__icon {
  transition: all 0.3s ease-in-out;
  padding-left: 12px;
}

.link-to__open-survey {
  display: inline-block;
  margin: 0;
  margin-right: 12px;
  font-size: 14px;
  color: #4d4d4d;
  transition: all 0.3s ease-in-out;
}

.link-start {
  display: inline-block;
  margin: 0;
  margin-right: 12px;
  font-size: 14px;
  color: #4d4d4d;
}

.start-icon {
  padding: 14px 12px;
  border-radius: 10px;
  background-color: var(--color-green);
}

.header__icon {
  padding: 14px 12px;
  border-radius: 10px;
  background-color: var(--color-primary);
}

.header__notification-circle {
  background-color: var(--bg-notification-circle);
  border-radius: 25px;
  padding: 4px;
  margin-bottom: 23px;
  margin-left: 4px;
}

.header__text {
  display: flex;
  flex-direction: column;
  margin-left: 8px;
}

.header__text>small {
  transition: all 0.3s ease-in-out;
}

.header__text :nth-child(1) {
  font-size: 14px;
  margin: 0;
}

.header__text :nth-child(2) {
  font-size: 12px;
}
