:root {
  --color-primary: #7268db;
  --color-secondary: #d9687c;
  --bg-notification-circle: #9747ff;
  --color-green: #95ca76;
  --gray-dark: #4d4d4d;
}

.main-content {
  position: relative;
  padding: 1rem 0.5rem 0 9rem;
}

.button {
  position: relative;
  font-family: 'Poppins';
  border: none;
  outline: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  font-size: 14px;
}

.button:disabled {
  opacity: 0.5;
  pointer-events: none;
}

.button > img {
  position: absolute;
  left: 10px;
  top: 7px;
}

.button:hover {
  opacity: 0.9;
}

.header-table__arrow {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.table {
  border-collapse: collapse;
  width: 100%;
  text-align: center;
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
}

.table thead {
  font-size: 14px;
  color: #fff;
}

.table thead tr {
  /* display: block; */
  border-radius: 10px;
}

.table th,
.table td {
  width: 1000px;
}

.table tbody {
  /* display: block; */
  overflow-y: auto;
  width: 100%;
  padding-bottom: 3rem;
  max-height: 270px;
}

.table > thead > tr > th {
  padding: 15px;
}

.table > tbody > tr > td {
  padding: 10px 0px;
  border-bottom: 1px solid rgb(0, 0, 0, 0.2);
  border-radius: none;
  /* background-color: #fff; */
}

.table > tbody > tr {
  /* position: relative; */
}

.table > tbody > tr:hover {
  background-color: #fbf0f2;
}

/* Scroll bar para Firefox */
body {
  scrollbar-width: auto; /* "auto" or "thin" */
  scrollbar-color: var(--color-secondary) #fbf0f2; /* scroll thumb and track */
}

.table tbody::-webkit-scrollbar {
  -webkit-appearance: none;
  background-color: #fbf0f2;
}

.table tbody::-webkit-scrollbar:vertical {
  width: 10px;
}

.table tbody::-webkit-scrollbar-button:increment,
.contenedor::-webkit-scrollbar-button {
  display: none;
}

.table tbody::-webkit-scrollbar:horizontal {
  height: 10px;
}

.table tbody::-webkit-scrollbar-thumb {
  background-color: var(--color-secondary);
  border-radius: 20px;
  border: 2px solid #f1f2f3;
}

.table tbody::-webkit-scrollbar-track {
  border-radius: 10px;
}

input[type='text'],
input[type='number'] {
  border: none;
  background-color: #e0e0e0;
  font-family: 'Poppins';
  outline: none;
  padding: 13px;
  padding-left: 40px;
  border-radius: 10px;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}

input[type='checkbox'] {
  display: none;
}

input[type='checkbox'] + label:before {
  cursor: pointer;
  content: '';
  padding: 7px;
  float: left;
  border: 2px solid #000;
  background: #fff;
}

input[type='checkbox']:disabled + label:before {
  border: 2px solid lightgray;
  pointer-events: none;
}

input[type='checkbox']:checked + label:after {
  cursor: pointer;
  content: '';
  width: 13px;
  height: 5px;
  border: 1px solid red;
  float: left;
  margin-left: -1em;
  border-right: 0;
  border-top: 0;
  margin-top: 0.3em;
  transform: rotate(-55deg);
}

.modal-container {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100vh;
  background-color: rgb(0, 0, 0, 0.3);
  z-index: 999;
}

.modal-content {
  margin: auto;
  margin-top: 15rem;
  background-color: #fff;
  border-radius: 10px;
  width: fit-content;
}

.modal__title {
  font-size: 20px;
  font-weight: 600 !important;
  margin: 0;
}
.modal__subtitle {
  font-size: 14px;
}
