.login-container {
  margin-top: 80px;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-top: 12px;
}

.form-label {
  padding: 10px 10px;
}

.form-input {
  font: inherit;
  padding: 25px 15px;
  background-color: #d9d9d9;
  border: none;
  outline: none;
}

.form-input:active {
  border: none;
}

.form-input-submit {
  font-size: 15px;
  font: inherit;
  margin-top: 80px;
  color: white;
  padding: 20px 20px;
  background-color: var(--color-secondary);
  cursor: pointer;
  outline: none;
  border: none;
}
